<component name="ArtifactManager">
  <artifact type="war" name="springmvc-ueditor-java-qiniu:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc-ueditor-java-qiniu-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-ueditor-java-qiniu:war exploded" />
    </root>
  </artifact>
</component>